body {
    height: 400px;
    background-image: url("https://carontestudio.com/img/caronte-web-estudio-logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.show-table {
    display: flex;
}